<!DOCTYPE html>
<html lang="en" >

  <head>
  <link rel="shortcut icon" href="#" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Full Width Pics - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/login.css" rel="stylesheet" />
  
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="js/loginPage.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->


<div class="login-page">
<div id="postResultDiv" align="center"></div>

  <div class="form">
    <p>Login Form</p>
    <form class="login-form">
      <input type="text" id="username" name="username"  placeholder="username"/>
      <input type="text" id="password" name="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
    </form>
  </div>
</div>
<!-- partial -->

</body>
</html>
