 <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/registerPageStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="js/PostEmployee.js"></script> 
        
    </head>
    <body>

      <form style="background-color: white; box-shadow: 1px 3px 3px 1px lightblue;" action="index.html" method="post">
      
        <h1>Sign Up</h1>
        
        <fieldset style="background-color: white;">
         
          <label for="name">Name:</label>
          <input type="text" id="name" name="name">
          
          <label for="username">User Name:</label>
          <input type="text" id="username" name="username">
          
           <label for="address">Address:</label>
          <input type="text" id="address" name="address">
          
          <label for="phone">Phone:</label>
          <input type="text" id="phone" name="phone">
          
          <label for="email">Email:</label>
          <input type="text" id="email" name="email">
          
          <label for="password">Password:</label>
          <input type="text" id="password" name="user_password">
          
          <label>enabled</label>
          <input type="radio" id="true" value="true" class="enabled" name="enabled"><label for="true" class="light">true</label><br>
          <input type="radio" id="false" value="false" class="enabled" name="enabled"><label for="false" class="light">false</label>

	       <label for="job" style="margin-top: 20px">Job Role:</label>
	       <select id="job" name="user_job">
	            <option value="AUDITORUSER">AUDITOR USER</option>
	            <option value="SUPERUSER">SUPER USER</option>
	            <option value="SUPPORTUSER">SUPPORT USER</option>
	       </select>
        </fieldset>
        <button type="submit">Sign Up</button>
      </form>
      
    </body>
</html>